# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db
__pycache__
__pycache__/
/**/__pycache__/
/**/*.pyc

# ------------------------------
# Config files
# ------------------------------
base_config.yml
used_config.yml
default.yml
.obsidian/
data/

# ------------------------------
# Run directories
# ------------------------------
results/
outputs/
_outputs/

# ------------------------------
# DVC
# ------------------------------
dvc.lock
dvc.yaml
.dvc
.dvc/
